@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Comforter&family=Oswald&family=Shadows+Into+Light&display=swap');
/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}
/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}
.login_form
{
    display: flex;
    flex-direction: column;
    float: right;
    width: 20%;
    margin-top: 10%;
    height: 100%;
}
.log{
    margin-bottom: 15px;
}
.log :hover{
    background-color: white;
    color: black;
}
body {
    overflow-x: hidden;
    background:url(/static/images/backgrounds/b1.png);
    background-repeat:no-repeat;
    background-attachment:fixed;
}
.heading
{
    padding: 0;
    margin-top: 0%;
    margin-bottom: 0%;
}
.posters{
    margin-left: 0px;
    
}
.posters > img
{
    padding: 0;
    margin: 0;
    border: 2px solid white;
    border-radius: 10px;
    max-width: 19.7%;
}
.sec_form
{
    border-top: 5px solid indianred;
    background-color: gray;
    height: 100%;
}
.forms
{
    max-width: 20%;
    flex-direction: column;
}
.add{
    display: flex;
    flex-direction: row;
    margin-left: 20%;
}
.main
{
    dispjlay: flex;
}
.card
{
    margin: auto;
    background-color: rgba(255, 255, 255, .5);
    border: 4px solid white;
    box-shadow: 5px 5px 5px;
    max-width: 310px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}
.title
{
    
}
.cards
{
    display: flex;
    flex-direction: row;
}
.searchbox
{
    display: flex;
    justify-content: center;
}
.search > div > img
{
    float:left;
    max-height: 600px;
}
.search > div 
{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-style: italic;
    font-family:bangers;
    font-size: small;   
}
.search
{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
.imgcollection > img
{
    max-height:700px;
    margin: auto;
}
.addupdatetable
{
    width: 48%;
}
.updatedelete
{
    display: flex;
    flex-direction: row;
}
.dividup
{
    justify-content: center;    
}

.seenupdate
{
    margin-left: 10%;
    display: flex;
    flex-direction: row;
}
.seendelete
{
    margin-left: 10%;
    display: flex;
    flex-direction: row;
}
.grid_
{
    display: flex;
    flex-wrap: wrap;
}
.grid_element
{
    width: 20%;
    margin: 10px;
    min-width: fit-content;
    background-color: rgba(255, 255, 255, .5);
    border: 4px solid white;
    box-shadow: 5px 5px 5px;
    min-width: 200px;
    max-width: 310px;
    display: inline-flex;
    flex-direction: column;
    justify-content:space-around;
}
.sbs
{
    padding-top: 10%;
}
.home
{
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.graphs
{
    width: 50%;
    display: inline-flex;
    flex-direction: column;
    margin-top: auto;
    margin-left: 1%;
    margin-bottom: auto;
}
.personal
{
    width: 30%;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.info
{
    display: flex;
    background-color: rgba(00, 00, 00, 0.2);
}
.field
{
    margin: 0.5%;
    font-size: 40px;
    width: 50%;
    color: seashell;
    background-color: rgba(00, 00, 00, 0.5);
    border-radius: 3%;
    font-family: 'Shadows Into Light';
    justify-content: center;
}
.profile
{
    width: 90%;
}
.division
{
    margin: auto;
    text-align: center;
    min-width: 10%;
    color: white;
}
.id
{
    background-color: rgba(00, 00, 00, 0.5);
    display: flex;
    justify-content: space-between;
}
.changemain
{
    width: 100%;
    justify-content: center;
    display: inline-flex;
    flex-wrap: wrap;
    margin: auto;
}
.elmt >form
{
    padding-left: 3%;
    margin-right: 5%;
}
.elmt
{
    justify-content: center;
    align-items: center;
    width: 48%;
    min-width:fit-content;
    background-color: rgba(00, 00, 00, .3);
    display: flex;
    flex-wrap: wrap;    
    border: 3px solid white;
    margin-right: 1%;
    padding: 1%;
}
.declaration
{
    font-family: Bangers;
    font-size: 300%;
    width: 50%;
    color: white;
    text-shadow: 3px 3px 3px black;
    margin-right: 5%;
}
.declaration2
{
    font-family: Bangers;
    color: white;
    text-shadow: 3px 3px 10px black;
    margin: auto;
    width: 100%;
    font-size: 600%;
}
.chart
{
    display: inline-flex;
    flex-direction: row;
    min-width:fit-content;
    justify-content: space-between;
    border: 5px solid white;
    background-color: rgba(00, 00, 00, 0.5);
    margin-bottom: 10px;
    box-shadow: 5px 5px 5px black;
}
.hello
{
    margin-top: 1%;
    width: 50%;
    display: inline-flex;
    flex-direction: row;
}
.top > div > button
{
    font-family: Bangers;
    color: white;
    text-shadow: 3px 3px 10px black;    
    font-size: 50px;
}
.top
{
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}
.top > div
{
    margin: auto;
}
a:visited
{
    color:white;
}
a
{
    color:white;
}
a:hover
{
    color: skyblue;
    font-weight: bold;
    background-color: rgba(00, 00, 00, .3);
    border-radius: 5%;
}