@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Comforter&display=swap');
/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}
/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}
.login_form
{
    display: flex;
    flex-direction: column;
    float: right;
    width: 20%;
    margin-top: 10%;
    height: 100%;
}
.log{
    margin-bottom: 15px;
}
.log :hover{
    background-color: white;
    color: black;
}
body {
    overflow-x: hidden;
    background:url(/static/images/backgrounds/b1.png);
    background-repeat:no-repeat;
    background-attachment:fixed;
}
.heading
{
    padding: 0;
    margin-top: 0%;
    margin-bottom: 0%;
}
.posters{
    margin-left: 0px;
    
}
.posters > img
{
    padding: 0;
    margin: 0;
    border: 2px solid white;
    border-radius: 10px;
    max-width: 19.7%;
}
.sec_form
{
    border-top: 5px solid indianred;
    background-color: gray;
    height: 100%;
}
.forms
{
    max-width: 20%;
    flex-direction: column;
}
.add{
    display: flex;
    flex-direction: row;
    margin-left: 20%;
}
.main
{
    dispjlay: flex;
}
.card
{
    margin: auto;
    background-color: rgba(255, 255, 255, .5);
    border: 4px solid white;
    box-shadow: 5px 5px 5px;
    max-width: 310px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}
.title
{
    
}
.cards
{
    display: flex;
    flex-direction: row;
}
.searchbox
{
    display: flex;
    justify-content: center;
}
.search > div > img
{
    float:left;
    max-height: 600px;
}
.search > div 
{
    
    display: flex;
    flex-direction: column;
    text-align: center;
    font-style: italic;
    font-family:bangers;
    font-size: small;   
}
.search
{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    
}
.imgcollection > img
{
    max-height:700px;
    margin: auto;
}
.addupdatetable
{
    width: 48%;
}
.updatedelete
{
    display: flex;
    flex-direction: row;
}
.dividup
{
    justify-content: center;    
}

.seenupdate
{
    margin-left: 10%;
    display: flex;
    flex-direction: row;
}
.seendelete
{
    margin-left: 10%;
    display: flex;
    flex-direction: row;
}
.grid_
{
    display: inline;
}
.grid_element
{
    width: 20%;
    margin: 10px;
    background-color: rgba(255, 255, 255, .5);
    border: 4px solid white;
    box-shadow: 5px 5px 5px;
    max-width: 310px;
    display: inline-flex;
    flex-direction: column;
    justify-content:space-around;
}
.sbs
{
    padding-top: 10%;
}
