{% extends "layout.html" %}
{% block title %} Add/Update {% endblock %}
{% block main %}
<div class="declaration2">Modify Data</div>
<section class="mainaud">
        <div class="table-responsive-md">
            <table class="table table-striped table-hover" id = "table_main" style="height: fit-content;background-color: rgba(255, 255, 255, 0.5);font-size: 100%;">
                <div>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Progress</th>
                    <th>Type</th>
                    <th>TEP (Minutes)</th>
                    <th>When</th>
                    <th>Repetitions</th>
                </tr>
            </div>
                {% for row in table %}
                {% if row['type'] == 'manga' %}
                    <tr class="manga">
                        <td>{{row['id']}}</td>
                        <td>{{row['name']}}</td>
                        <td>{{row['seen']}}/{{row['total']}}</td>
                        <td>{{row['type']}}</td>
                        <td>{{row['time_per_episode']}}</td>
                        <td>{{row['time']}}</td>
                        <td>{{row['times']}}</td>
                    </tr>
                {% endif %}
                    {% if row['type'] == 'anime' %}
                    <tr class="anime">
                        <td>{{row['id']}}</td>
                        <td>{{row['name']}}</td>
                        <td>{{row['seen']}}/{{row['total']}}</td>
                        <td>{{row['type']}}</td>
                        <td>{{row['time_per_episode']}}</td>
                        <td>{{row['time']}}</td>
                        <td>{{row['times']}}</td>
                    </tr>
                    {% endif %}
                    {% if row['type'] == 'television' %}
                    <tr class = 'television'>
                        <td>{{row['id']}}</td>
                        <td>{{row['name']}}</td>
                        <td>{{row['seen']}}/{{row['total']}}</td>
                        <td>{{row['type']}}</td>
                        <td>{{row['time_per_episode']}}</td>
                        <td>{{row['time']}}</td>
                        <td>{{row['times']}}</td>
                    </tr>
                    {% endif %}
                    {% if row['type'] == 'asiandrama' %}
                    <tr class='asiandrama'>
                        <td>{{row['id']}}</td>
                        <td>{{row['name']}}</td>
                        <td>{{row['seen']}}/{{row['total']}}</td>
                        <td>{{row['type']}}</td>
                        <td>{{row['time_per_episode']}}</td>
                        <td>{{row['time']}}</td>
                        <td>{{row['times']}}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
                <caption style="caption-side:bottom;">You Can Scroll Sidways</caption>
            </table>
            </div>        
    <div class="section">
        <div class="element">
    <form action="/addupdate" method="post" class="add">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="name" name="name" placeholder="Name" type="text">
    </div>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="seen" name="seen" placeholder="Seen" type="text">
    </div>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="total" name="total" placeholder="Total" type="text">
    </div>
      <div class="input-group mb-3" style="width: fit-content;">
        <select class="form-select" id="type" name="type">
          <option selected>Choose...</option>
          <option value="manga">Manga</option>
          <option value="anime">Anime</option>
          <option value="television">Television</option>
          <option value="asiandrama">Asian Drama</option>
        </select>
      </div>
      <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="tpe" name="tpe" placeholder="Time Per Episode" type="text">
    </div>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="times" name="times" placeholder="Repetitions" type="text">
    </div>
    <div class="mb-3">
        <button class="btn btn-dark" type="submit">Add</button>
    </div>
</form>
</div>
<div class="element">
        <form class="add" action="/update" method="POST">
            <div class="mb-3">
            <select class="form-select" id="id" name="id">
                <option selected>Choose...</option>
                {% for row in table %}
                <option value="{{row['id']}}">{{row['id']}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="mb-3">
                <select class="form-select" id="type" name="type">
                    <option selected >Choose...</option>
                    <option value="seen">Seen</option>
                    <option value="total">Total</option>
                    <option value="times">Times</option>
                  </select>
            </div>
            <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto" style="text-align: center;" id="seen" name="seen" placeholder="seen" type="text">
        </div>
            <div class="mb-3">
                <button class="btn btn-dark" type="submit">Update</button>
            </div>
        </form>
        </div>
        <div class="element">
        <form class="add" action="/delete" method="POST">
            <div class="mb-3">
            <select class="form-select" id="id" name="id">
                <option selected>Choose...</option>
                {% for row in table %}
                <option value="{{row['id']}}">{{row['id']}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="mb-3">
                <button class="btn btn-dark" type="submit">Delete</button>
            </div>
            </form>
    </div>
</div>
</section>
<div class="search" style="flex-wrap: nowrap;">
    <div>
    <img src="/static/images/search/tvonly.png">
  </div>
  <div>
    <img src="/static/images/search/between.png" >
    </div>
    <div>
    <img src="/static/images/search/power.png">
    </div>
  </div>
  
{% endblock %}