{% extends "layout.html" %}
{% block title %} Add/Update {% endblock %}
{% block main %}
<form action="/addupdate" method="post" class="add">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="name" name="name" placeholder="Name" type="text">
    </div>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="seen" name="seen" placeholder="Seen" type="text">
    </div>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="total" name="total" placeholder="Total" type="text">
    </div>
      <div class="input-group mb-3" style="width: 10%;">
        <select class="form-select" id="type" name="type">
          <option selected>Choose...</option>
          <option value="manga">Manga</option>
          <option value="anime">Anime</option>
          <option value="television">Television</option>
          <option value="asiandrama">Asian Drama</option>
        </select>
      </div>
      <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="tpe" name="tpe" placeholder="Time Per Episode" type="text">
    </div>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="times" name="times" placeholder="Repetitions" type="text">
    </div>
    <div class="mb-3">
        <button class="btn btn-dark" type="submit">Add</button>
    </div>
</form>
<section class="updatedelete">
<table class="addupdatetable table table-dark table-hover">
    <div>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Progress</th>
        <th>Type</th>
        <th>TEP (Minutes)</th>
        <th>When</th>
        <th>Times</th>
    </tr>
</div>
    {% for row in table %}
        <tr>
            <td>{{row['id']}}</td>
            <td>{{row['name']}}</td>
            <td>{{row['seen']}}/{{row['total']}}</td>
            <td>{{row['type']}}</td>
            <td>{{row['time_per_episode']}}</td>
            <td>{{row['time']}}</td>
            <td>{{row['times']}}</td>
        </tr>
    {% endfor %}
</table>
<div class="divdup">
    <div class="diviup">
        <form class="seenupdate" action="/update" method="POST">
            <div class="mb-3">
            <select class="form-select" id="id" name="id">
                <option selected>Choose...</option>
                {% for row in table %}
                <option value="{{row['id']}}">{{row['id']}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="mb-3">
                <select class="form-select" id="type" name="type">
                    <option selected>Choose...</option>
                    <option value="seen">Seen</option>
                    <option value="total">Total</option>
                    <option value="times">Times</option>
                  </select>
            </div>
            <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto" style="text-align: center;" id="seen" name="seen" placeholder="seen" type="text">
        </div>
            <div class="mb-3">
                <button class="btn btn-dark" type="submit">Update</button>
            </div>
        </form>
        </div>
    <div class="dividelete">
        <form class="seendelete" action="/delete" method="POST">
            <div class="mb-3">
            <select class="form-select" id="id" name="id">
                <option selected>Choose...</option>
                {% for row in table %}
                <option value="{{row['id']}}">{{row['id']}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="mb-3">
                <button class="btn btn-dark" type="submit">Delete</button>
            </form>
    </div>
</div>
</section>
{% endblock %}