{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<script>
    function show(Type)
    {
        var manga = document.getElementsByClassName('manga');
        for(var i=0; i<manga.length; i++) 
        { 
            manga[i].style.display='none';
        }
        var anime = document.getElementsByClassName('anime');
        for(var i=0; i<anime.length; i++) 
        { 
            anime[i].style.display='none';
        }
        var television = document.getElementsByClassName('television');
        for(var i=0; i<television.length; i++) 
        { 
            television[i].style.display='none';
        }
        var asiandrama = document.getElementsByClassName('asiandrama');
        for(var i=0; i<asiandrama.length; i++) 
        { 
            asiandrama[i].style.display='none';
        }
        var Show = document.getElementsByClassName(Type);
        for(var i=0; i<Show.length; i++) 
        { 
            Show[i].style.display='';
        }
        document.getElementById("default").style.display="none";
    }
</script>
<div class="top">
<div class="btn-group" role="group">
    <button class="but btn btn-outline-dark" type="reset" onclick="show('manga');">Manga</button>
    <button class="but btn btn-outline-dark" type="reset" onclick="show('anime');">Anime</button>
    <button class="but btn btn-outline-dark" type="reset" onclick="show('television');">TV Series</button>
    <button class="but btn btn-outline-dark" type="reset" onclick="show('asiandrama');">AsianDrama</button>
</div>
<div class="localsearch">
    <form action="/localsearch" method="post" class="searchbox">
        <div class="input-group mb-3">
            <input type="text" class="localsearch form-control" autocomplete="off"  placeholder="Local Search" name = "query" id = "query">
            <button class="localsearch btn btn-outline-dark" type="submit" style="color: white;text-shadow: 5px 5px 5px black;">Search</button>
          </div>
        </form>      
</div>
</div>
<br><br>
<section class="index" style="display: flex;flex-wrap: nowrap;justify-content: space-between;">
<div class="imgcollection">
<img src="/static/images/index/manga2.png" class="manga" style="display: none;">
<img src="/static/images/index/default.png" id="default" >
<img src="/static/images/index/anime.png" class="anime" style="display: none;">
<img src="/static/images/index/asiandrama.png" class="asiandrama" style="display: none;">
<img src="/static/images/index/television.png" class="television" style="display: none;">
</div>

<div class="_cards grid_">
    {% for row in table %}
    {% if row['type'] == 'manga' %}
        <div class="manga _card">
            <div>ID- {{row['id']}}</div>
            <div>{{row['name']}}</div>
            <div>{{row['seen']}}/{{row['total']}}</div>
            <div>{{row['type']}}</div>
            <div>{{row['time_per_episode']}} minutes</div>
            <div>{{row['time']}}</div>
            <div>{{row['times']}} Time(s)</div>
        </div>
    {% endif %}
        {% if row['type'] == 'anime' %}
        <div class="anime _card">
            <div>ID- {{row['id']}}</div>
            <div>{{row['name']}}</div>
            <div>{{row['seen']}}/{{row['total']}}</div>
            <div>{{row['type']}}</div>
            <div>{{row['time_per_episode']}} minutes</div>
            <div>{{row['time']}}</div>
            <div>{{row['times']}} Time(s)</div>
        </div>
        {% endif %}
        {% if row['type'] == 'television' %}
        <div class="television _card">
            <div>ID- {{row['id']}}</div>
            <div>{{row['name']}}</div>
            <div>{{row['seen']}}/{{row['total']}}</div>
            <div>{{row['type']}}</div>
            <div>{{row['time_per_episode']}} minutes</div>
            <div>{{row['time']}}</div>
            <div>{{row['times']}} Time(s)</div>
        </div>
        {% endif %}
        {% if row['type'] == 'asiandrama' %}
        <div class="asiandrama _card">
            <div>ID- {{row['id']}}</div>
            <div>{{row['name']}}</div>
            <div>{{row['seen']}}/{{row['total']}}</div>
            <div>{{row['type']}}</div>
            <div>{{row['time_per_episode']}} minutes</div>
            <div>{{row['time']}}</div>
            <div>{{row['times']}} Time(s)</div>
        </div>
        {% endif %}
    {% endfor %}
</div>
</section>
{% endblock %}
