{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<script>
    function show(Type)
    {
        var manga = document.getElementsByClassName('manga');
        for(var i=0; i<manga.length; i++) 
        { 
            manga[i].style.display='none';
        }
        var anime = document.getElementsByClassName('anime');
        for(var i=0; i<anime.length; i++) 
        { 
            anime[i].style.display='none';
        }
        var television = document.getElementsByClassName('television');
        for(var i=0; i<television.length; i++) 
        { 
            television[i].style.display='none';
        }
        var asiandrama = document.getElementsByClassName('asiandrama');
        for(var i=0; i<asiandrama.length; i++) 
        { 
            asiandrama[i].style.display='none';
        }
        var Show = document.getElementsByClassName(Type);
        for(var i=0; i<Show.length; i++) 
        { 
            Show[i].style.display='';
        }
        document.getElementById("default").style.display="none";
    }
</script>
<div class="top">
<div class="btn-group" role="group">
    <button class="but btn btn-outline-dark" type="reset" onclick="show('manga');">Manga</button>
    <button class="but btn btn-outline-dark" type="reset" onclick="show('anime');">Anime</button>
    <button class="but btn btn-outline-dark" type="reset" onclick="show('television');">TV Series</button>
    <button class="but btn btn-outline-dark" type="reset" onclick="show('asiandrama');">AsianDrama</button>
</div>
<div class="localsearch">
    <form action="/localsearch" method="post" class="searchbox">
        <div class="input-group mb-3">
            <input type="text" class="localsearch form-control" autocomplete="off"  placeholder="Local Search" name = "query" id = "query">
            <button class="localsearch btn btn-outline-dark" type="submit" style="color: white;text-shadow: 5px 5px 5px black;">Search</button>
          </div>
        </form>      
</div>
</div>
<br><br>
<section class="indextab" style="display: flex;justify-content: center;">
<div class="imgcollection">
<img src="/static/images/index/manga2.png" class="manga" style="display: none;">
<img src="/static/images/index/default.png" id="default" >
<img src="/static/images/index/anime.png" class="anime" style="display: none;">
<img src="/static/images/index/asiandrama.png" class="asiandrama" style="display: none;">
<img src="/static/images/index/television.png" class="television" style="display: none;">
</div>
<div class="table-responsive-md" style="margin-left: auto;margin-right: auto;">
    <table class="table table-striped table-hover" id = "table_main" style="height: fit-content;background-color: rgba(255, 255, 255, 0.5);font-size: 100%;">
        <div>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Progress</th>
            <th>Type</th>
            <th>TEP (Minutes)</th>
            <th>When</th>
            <th>Repetitions</th>
        </tr>
    </div>
        {% for row in table %}
        {% if row['type'] == 'manga' %}
            <tr class="manga">
                <td>{{row['id']}}</td>
                <td>{{row['name']}}</td>
                <td>{{row['seen']}}/{{row['total']}}</td>
                <td>{{row['type']}}</td>
                <td>{{row['time_per_episode']}}</td>
                <td>{{row['time']}}</td>
                <td>{{row['times']}}</td>
            </tr>
        {% endif %}
            {% if row['type'] == 'anime' %}
            <tr class="anime">
                <td>{{row['id']}}</td>
                <td>{{row['name']}}</td>
                <td>{{row['seen']}}/{{row['total']}}</td>
                <td>{{row['type']}}</td>
                <td>{{row['time_per_episode']}}</td>
                <td>{{row['time']}}</td>
                <td>{{row['times']}}</td>
            </tr>
            {% endif %}
            {% if row['type'] == 'television' %}
            <tr class = 'television'>
                <td>{{row['id']}}</td>
                <td>{{row['name']}}</td>
                <td>{{row['seen']}}/{{row['total']}}</td>
                <td>{{row['type']}}</td>
                <td>{{row['time_per_episode']}}</td>
                <td>{{row['time']}}</td>
                <td>{{row['times']}}</td>
            </tr>
            {% endif %}
            {% if row['type'] == 'asiandrama' %}
            <tr class='asiandrama'>
                <td>{{row['id']}}</td>
                <td>{{row['name']}}</td>
                <td>{{row['seen']}}/{{row['total']}}</td>
                <td>{{row['type']}}</td>
                <td>{{row['time_per_episode']}}</td>
                <td>{{row['time']}}</td>
                <td>{{row['times']}}</td>
            </tr>
            {% endif %}
        {% endfor %}
        <caption style="caption-side:bottom;">You Can Scroll Sideways</caption>
    </table>
    </div>
</section>
{% endblock %}
