{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
<section class="home">
    <div class="graphs">
        <div class="chart"><div class="declaration" style="width: 100%;">Total Time Spent - {{"%.2f"|format(total_time['TOTALSUM'])}} Hours</div></div>
        <div class="chart">
        <div class = "hello" style="display: inline;width: 50%;">
            {% for row in time_type %}
        <div class="declaration">
        {{row['type']}}
        </div>
            {% endfor %}
        </div>
        <table class="hello charts-css column show-labels" >
            <tr>
                {% for row in time_type %}
                <td style="max-width: 60px;height: {{row['typesum']}}px;">
                </td>
                {% endfor %}
              </tr>
          </table>
          <br>
        </div>
        <div class="chart"><div class="declaration" style="width: 100%;">Type Wise Time Spent (In Hours)</div></div>
    </div>
    <div class="personal">
        <div class="info" style="background-color: rgba(00, 00, 00, 0);"><div style="width: 100%;"><img src="/static/images/myself/{{personalinfo['profilepic']}}.png" alt="" class="profile"></div></div>
        <div class="info"><div class="field">Name</div><div class="field">{{personalinfo['name']}}</div></div>
        <div class="info"><div class="field">Gender</div><div class="field">{{personalinfo['gender']}}</div></div>
        <div class="info"><div class="field">Age</div><div class="field">{{personalinfo['age']}}</div></div>
        <div class="info"><div class="field">Favourite</div><div class="field">{{personalinfo['FAV']}}</div></div>
    </div>
</section>

{% endblock %}
