{% extends "layout.html" %}
{% block title %} {% endblock %}
{% block main %}
<section class="grid_">
{% for result in results %}
<span class="grid_element">
    <span class="image"><img src = '{{result["image_url"]}}' style="width: 300px;border-bottom: 3px solid white;max-width: 100%;"></span>
    <div>
    <span class="title"><b style="font-family: oswald;font-size: 30px;">{{result["title"]}}</b></span>
    <br>
    <span class="type"><b>Type : {{result["type"]}}</b></span>
    <br>
    <span class="episodes"><b>Episodes : {{result["episodes"]}}</b></span>
    <br>
    <span class="status"><b>Status : {% if result["airing"] == false %}Completed{%endif%}{% if result["airing"] == true %} Airing {%endif%}</b></span>
    <br>
    <div class="id" style="background-color: black;color:white;justify-content: center;"><a href ='https://myanimelist.net/anime/{{result["mal_id"]}}'>MyAnimeList</a></div>
    </div>
</span>
{% endfor %}
</section>
<br><br><br>
<div class="search" style="flex-wrap: nowrap;">
  <div>
  <img src="/static/images/search/tvonly.png">
</div>
<div>
  <img src="/static/images/search/between.png">
  </div>
  <div>
  <img src="/static/images/search/power.png">
  </div>
</div>
<div class="search" style="flex-wrap: nowrap;">  <div class="searchtext"><h1>ANIME ONLY</h1></div><div class="searchtext"><h1>POWERED BY MYANIMELIST</h1></div></div>
{% endblock %}