{% extends "layout.html" %}
{% block title %} {% endblock %}
{% block main %}
<section class="cards">
{% for result in results %}
<span class="card">
    <div>
    <span class="title"><b style="font-family: bangers;font-size: 30px;">{{result["name"]}}</b></span>
    <br>
    <span class="description"><i>{{result["description"]}}</i></span>
    <br>
    <span class="status"><b>Status : {{result["status"]}}</b></span>
    <br>
    <div class="id" style="background-color: black;color:white;"><a href ='{{result["url"]}}'>manganato</a></div>
    </div>
</span>
{% endfor %}
</section>
<br><br><br>
<div class="search">
  <div>
  <img src="/static/images/search/tvonly.png">
  <span class="searchtext"><h1>TV SERIES ONLY</h1></span>
</div>
<div>
  <img src="/static/images/search/between.png">
  </div>
  <div>
  <img src="/static/images/search/power.png">
  <span class="searchtext"><h1>POWERED BY IMDB</h1></span>
  </div>
</div>

{% endblock %}