{% extends "layout.html" %}
{% block title %} {% endblock %}
{% block main %}
<div class="search">
  <div>
  <img src="/static/images/search/front.png">
</div>
<div class="sbs">
<form action="/search" method="post" class="searchbox">
  <div class="input-group mb-3">
      <input type="text" class="lsearch localsearch form-control" autocomplete="off"  placeholder="Televison Show Name" name = "name" id = "name">
      <button class="lsearch localsearch btn btn-outline-dark" type="submit" style="color: white;text-shadow: 5px 5px 5px black;">Search</button>
    </div>
  </form>
  <form action="/searchanime" method="post" class="searchbox">
    <div class="input-group mb-3">
        <input type="text" class="lsearch localsearch form-control" autocomplete="off" placeholder="Anime Name" name = "name" id = "name">
        <button class="lsearch localsearch btn btn-outline-dark" type="submit" style="color: white;text-shadow: 5px 5px 5px black;">Search</button>
      </div>
    </form>  
  
</div>
    <div>
  <img src="/static/images/search/end.png">
  </div>
</div>

{% endblock %}